.mat-tab-label {
  background-color: black;
}
.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}
.mat-table {
  justify-content: center;
}
